
/scripts/Debug
/scripts/Debug-static-lib
/scripts/unitTests/Debug
/scripts/nxOgre/Debug
/dependencies-lib
/bin
/LisaMain.sdf
/LisaMain.sln.docstates.suo
/LisaMain.suo
/ipch/lisamain-bedf2b0e/lisa50-b36941a.ipch